<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BioReader</title>
    <link rel="icon" type="images/x-icon" href="../resources/img/bioReadTemp.jpeg">
    <link rel="stylesheet" href="../resources/css/index.css">
    <link rel="stylesheet" href="../resources/css/about.css">
    <link href='https://fonts.googleapis.com/css?family=Exo 2' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/b31f370ec2.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="../index.html"><img src="../resources/img/bioReadTemp.jpeg" alt="BioReader" class="img-home"></a>
            <button class="navbar-toggler" type="button" onclick="toggleNavBar()">
                <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
            </button>
            <ul class="navbar-collapse" id="navbarItems">
                <li><a href="../index.html">Home</a></li>
                <li><a href="About.html">About Us</a></li>
                <li><a href="Science.html">Science</a></li>
                <li><a href="Feedback.html">Feedback</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="content-wrapper">
        <div class="drop-down-title">
            <h1>BioReader &nbsp; V1.0</h1>
            <h2>Revolutionizing reading with science to improve efficiency and speed.</h2>
            <p>The idea of Bionic Reading ... has been around for  ... years. 
                We as modern day developers and solutions experts create what follows our path, our motto.</p>
            <br>
            <h3>Forward Forever For The Future</h3>
        </div>
    </div>

    <script src="../resources/js/ssToggle.js"></script>
    <script src="../resources/js/effects.js"></script>
</body>
</html>