<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BioReader</title>
    <link rel="icon" type="images/x-icon" href="../resources/img/bioReadTemp.jpeg">
    <link rel="stylesheet" href="../resources/css/index.css">
    <link href='https://fonts.googleapis.com/css?family=Exo 2' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/b31f370ec2.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="../index.html"><img src="../resources/img/bioReadTemp.jpeg" alt="BioReader" class="img-home"></a>
            <button class="navbar-toggler" type="button" onclick="toggleNavBar()">
                <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
            </button>
            <ul class="navbar-collapse" id="navbarItems">
                <li><a href="../index.html">Home</a></li>
                <li><a href="About.html">About Us</a></li>
                <li><a href="Science.html">Science</a></li>
                <li><a href="Feedback.html">Feedback</a></li>
            </ul>
        </div>
    </nav>
    
    <script src="../resources/js/ssToggle.js"></script>
</body>
</html>